.topnav{
  background-color: #333;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  
}

img{
  width: auto;
  height: 100px;
  align-content: left;
  padding-left: 40px;
  float: left; 
}

h1{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10px;
  float: left;
  margin-left: 40px;
}

.topnav .search-container {
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 30px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}