.topnav{
  background-color: #333;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

img{
  width: auto;
  height: 100px;
  align-content: left;
  padding-left: 20px;
}

h1{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 10px;
}

.searchContainer{
  align-items: right;
  float: right;
  margin-top: 20px;
  margin-right: 60px;
  position: absolute;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('..\..\assets\Logo2.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  
}

input[type=text]:focus {
  width: 100%;
}