<app-nav-bar></app-nav-bar>
<app-featured-films></app-featured-films>
<app-choose></app-choose>
<app-whats-on></app-whats-on>

<!-- Make the footer here :)  -->
<div class="footer">
   
  <table class="table">
    <tr>
      <td><b>OUR VACANCIES</b></td>
      <td><b>ABOUT US</b></td>
      <td><b>HELP GUIDE</b></td>
      <td><b>CONTACT</b></td>
      </tr>
      </table>
      <table class="table1">
      <tr>
        <td>Current Jobs</td>
        <td>Contact Us</td>
        <td>Get Help</td>
        <td>Your Account</td>
      </tr>
      <tr>
        <td>Search</td>
        <td>Our History</td>
        <td>Live Chat</td>
        <td>Sign Up</td>
      </tr>
      <tr>
        <td>Upcoming Vacancies</td>
        <td>Then To Now</td>
        <td>Discussion Board</td>
        <td>More Info</td>
      </tr>

      <tr>
        <td><img src="..\..\assets\facebook.png"></td>
        <td><img src="..\..\assets\twitter.png"></td>
        <td><img src="..\..\assets\instagram.png"></td>
        <td><img src="..\..\assets\snapchat.png"></td>
      </tr>

    
  </table>
 
  <p>&copy; DoukiView 2018</p>
  
  </div>